
	<br>
	<%= form_tag("/web_scrapper/scrapping", :method => :post, :role =>"form", :class =>"form-horizontal") do %>
	<!--<form class="form-horizontal" role="form" accept-charset="UTF-8" action="/web_scrapper/scrapping" method="post">
		<fieldset>-->

			<!-- Form Name -->
			<legend>ScrapMe</legend>

			<!-- Text input-->
			<div class="control-group" style="width:200px;margin:auto;">
				<label class="control-label" for="url">Website URL</label>
				<div class="controls">
					<%= url_field("website", "url", :placeholder=>"http://www.google.com", :class=>"input-xlarge", :required=>"") %>
					<!--<input id="url" name="url" type="text" placeholder="http://www.google.com" class="input-xlarge" required="">-->
					<p class="help-block">Website's url to scrap!</p>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</fieldset>
	<!--</form>-->
	<% end %>
