<h1>WebScrapper#index</h1>
<p>Find me in app/views/web_scrapper/index.html.erb</p>
<br>
<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<legend>Web Scrapper</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Website URL</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="http://www.google.com" class="form-control input-md">
  <span class="help-block">enter a wesite's url to scrap !<br>example: http://www.google.com</span>  
  </div>
</div>

</fieldset>
</form>
